{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype UI
{% endblock %}

{% block bodyStart %}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/survey",
            text: "Survey"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    <script src="/js/govuk.js"></script>
    <script>
      window.GOVUKFrontend.initAll();
    </script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
