{% extends "layouts/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../macros/validation-summary.njk" import validationSummary %}
{% from "../macros/phase-button.njk" import phaseButton %}

{% block pageTitle %}
  GOV.UK Prototype Kit - Apply for Attendance Allowance
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block content %}
  {% block backLink %}
    {% if data['back-link'] %}
      {{ govukBackLink({
        text: "Back",
        href: data['back-link']
      }) }}
    {% endif %}
  {% endblock %}

  {% block preForm %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {{ validationSummary(data) }}

            {% block form %}
            {% endblock %}

          </fieldset>
        </div>
        {% block formButton %}
          {{ phaseButton(data) }}
        {% endblock %}
      </form>
    </div>
  </div>

  {% block postForm %}
  {% endblock %}
{% endblock %}
